.about-book {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    a {
        width: 10px !important;
    }

    img{
        height: 500px;
        width: 350px;
    }

    .about-book-content {
        margin-left: 100px;
        margin-top: 20px;
        display: flex;
        flex-direction: row;

        .about-book-content-text {
            text-align:justify;
            margin-left: 20px;
            width: 500px;
            display: flex;
            flex-direction: column;
        }
    }
}
