.about-book {
    a {
        width: 10px !important;
    }
    .ant-button-primary {
        margin-left: 20px !important;
        margin-bottom: 20px ;
    }
    img{
        height: 500px;
        width: 350px;
    }
}