.mainTitle {
    margin-left: 17%;
    margin-top: 10px;
    margin-bottom: 10px;

    .ant-typography code {
        font-size: 35px !important;
        border: 4px solid #3ba0ff !important;
        border-radius: 15px !important;
        color: white;
        background: rgba(32, 32, 32, 0.1) !important;
    }
}
