  
.book-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;

  }

  .ant-card-bordered {
      width: 1265px;
  }

.books-card {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
  