.book-card {
    margin-left: 40px;
    display: flex;
    .ant-card {
        width: 250px;
        margin-top: 20px;
        
    }
    img {
        height: 300px;
    }
}

.ant-btn-circle{
    margin-top: 10px;
    margin-left: 185px;
}