.book-card {
    margin-left: 40px;
    display: flex;

    .ant-card {
        width: 250px;
        margin-top: 20px;
    }

    img {
        height: 300px;
    }

    .ant-btn-primary{
        margin-bottom: 10px;
        margin-left: 175px;

        a {
            color: white !important;
        }
    }

    .ant-card-bordered {
        border: 5px solid #f0f0f0 !important;
    }
}


