.book-card {
    margin: 0 47px;
    display: flex;

    .ant-card {
        width: 250px;
        margin-top: 20px;

    }

    img {
        height: 300px;
    }
}

.ant-btn-circle{
    margin-top: 10px;
    margin-left: 180px;
}

.ant-card-bordered {
    border: 5px solid #f0f0f0 !important;
}
